@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<p> <h3>ISEM 551 90 PROJECT </h3></p>
<h3>Team:</h3>

<div>
    <ol>
        <li>Chetan Jadhav</li>
        <li>Madhawi</li>
        <li>Madhav</li>
    </ol>
</div>

